.nav-container{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content:center;
}
.nav-section{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content:space-between;
}
.nav-section-two{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-section-three{
position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.profile-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 1;
    border: 1rem solid red;
    border-radius: .23rem;
    padding: 1rem;
}
.bruh{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    margin: 1rem;
}
.hidden {
    display: none;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}